.App {
  text-align: center;
  background-color: 'alicewhite'
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#contact-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#navbar {
  opacity: 0.7
}

#welcome {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

#VerticalNavBar {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

body {
  background-color: azure;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
